div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 1px solid black;
    /* agar humko 3d me kaam karunga h toh humkousme perspective ko bhi dekhna hota h  */
}
.translate