.row_flex{

    display: flex;
    width: 500px;
    gap:10px;
}
.form-input{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}