/* abh hum jo properties apply karenge vo hum apply karenge flex items ke uper  */

.container{
    height: 400px;
    border:2px solid green;
    display: flex;   /*ssaare boox abh horzontal direct point kare h ; */
    
    flex-direction: row;
     
     flex-wrap: wrap;

    justify-content: space-between;
    align-items: flex-start;
    align-items: flex-end;

    align-items:start;
     gap: 10px;
     align-content: flex-start;

}

#box1{
    order:1;
    
    /* by default sabka order starting me 0 hota h  */

    flex-grow:2;
}
#box3{
    order:8;
}
#box2{
    order:5;
}
.box{
    border:1px solid brown;
    background-color: aqua;
    width:50px;
    flex-grow:1;
    /* sab grow karte h aur eq width karlete h apni  */

    flex-shrink: 4;
    /* sab log squeeze karte h par jiske par ye laga hota h hum uski shrink speed set kardete h  */
}