#main{
    margin-left:10%;
    margin-right:10%;
}
#links{
    color:blue;
    font-weight: bold;
    font-style: italic;
}
hr{
    color:ligray;
    height: 1px;
    opacity: 0.5;
    background-color: lightgrey;
}
h2{
    text-decoration: underline;
}
img{
    margin: 10px;
}

#image{
    width: 40%;
    float:right;
    padding:0.5rem;
    margin: 5px;
    float: right;
    box-shadow: inset 5px 0px 5px -5px #29627e;
    color:#29627e; 
    background-color: azure;
}
#contentimg{
    width:95%;
    height:80%;
    margin-left: 3%;
    
}
#imadun{
    float: right;
    padding:5.5px;
    box-shadow: inset 1px 0px 10px 1px #4ea3ce;
    width: 100%;
}
#captain{
    padding: 10px;
    box-shadow: inset 1px 0px 10px 1px #07391b;
    width: 90%;
}

  #a0{
    width: 30%;
  }
  #a1{
    width: 70%;
  }
  #imagecap{
    background-color: rgb(187, 216, 249);
    margin-top: 0%;
    padding-top: 0%;
  }
 
  aside{
    border: 1px solid grey;
            border-collapse: collapse;
    width: 19.5%;
    padding-left:0.5rem;
    margin-left: 5px;
    float: right;
    
    float: right;
    
    margin-left: 20px;
    margin-top: 30px;
    background-color: rgb(243, 243, 243);
}
#asi{
    width: 22%;
}
#captain:hover{
    width:100%;
    margin-left: 5%;
    margin-right: 2%;
}
#contentimg:hover{
    width: 90%;
    margin-left: 5%;
}
#links:hover{
    color:green;
}
body{
    margin-top: 100px;
}
#heading{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}