#main{
    margin-left:10%;
    margin-right:10%;
}
#links{
    color:blue;
    font-weight: bold;
    font-style: italic;
}
hr{
    color:ligray;
    height: 1px;
    opacity: 0.5;
    background-color: lightgrey;
}
h2{
    text-decoration: underline;
}
img{
    margin: 10px;
}
aside{
    width: 30%;
    padding:0.5rem;
}

#image{
    width: 40%;
    float:right;
    padding:0.5rem;
    margin: 5px;
    float: right;
    box-shadow: inset 5px 0px 5px -5px #29627e;
    color:#29627e; 
    background-color: azure;
}
#contentimg{
    width:350px;
    height:300px;
    
}
#imadun{
    float: right;
    padding: 10px;
    box-shadow: inset 1px 0px 10px 1px #4ea3ce;
}
#captain{
    padding: 10px;
    box-shadow: inset 1px 0px 10px 1px #07391b;
}