#main{
    margin-left:10%;
    margin-right:10%;
}
#links{
    color:blue;
    font-weight: bold;
    font-style: italic;
}
hr{
    color:ligray;
    height: 1px;
    opacity: 0.5;
    background-color: lightgrey;
}
h2{
    text-decoration: underline;
}
img{
    margin: 10px;
}

aside{
    width: 40%;
    padding:0.5rem;
    margin: 5px;
    float: right;
    box-shadow: inset 5px 0px 5px -5px #29627e;
    color:#29627e; 
    background-color: azure;
}
aside.img{
    width
}