*{
    box-sizing: border-box;
    margin: 0px;
}
.container{
    width: 300px;
    border:16px solid black;
    height:300px;
    margin: 100px;
    box-shadow: 0px -15px 20px rgb(5, 98, 34);
    border-top: 20px solid rgb(59, 255, 59);
    border-radius: 50%;
    animation-name: load;
    
    animation-duration:3s;
    animation-timing-function: ease;
    /* animation-direction: alternate; */
    animation-iteration-count: infinite;
}
.box{
    
    margin: 100px;
    width: 300px;
    height: 200px;
    border: 5px solid greenyellow;
    background-color: black;
    text-align: center;
    place-content: center;
        color: #fff;
        text-shadow:
            0 0 7px hwb(279 86% 4%),
            0 0 10px #e29fdb,
            0 0 21px #efb7fd,
            0 0 42px rgb(242, 0, 255),
            0 0 82px rgb(255, 0, 208),
            0 0 92px rgb(255, 0, 238),
            0 0 102px rgb(255, 0, 200),
            0 0 151px rgb(250, 4, 176);
      
      
}
@keyframes load {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
