div{
    display: inline-block;
    width:150px;
    height: 150px;
    background-color: aqua;
    border:1px solid black;
    margin: 250px;
    transform: perspective(10px) translateZ(-5px) scaleZ(1) rotateY(1deg) rotateX(0deg);
    
}
