*{
    margin:0px;
}
body{
    background-color: rgb(240,228,220);
}
.container{
    margin-top: 5%;
    margin-left: 30%;
    height:360px;
    width:600px;
   
    background-color: white;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:15px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(42, 21, 77);
}
.box{
    margin-left: 0px;
}
#box-1{
   grid-row-start: 1;
   grid-row-end: 7;
   width: 100%;
   height:100%;
}
img{
    height: 100%;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
}
#box-2{
    margin-top: 8%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    color: rgb(129, 129, 129);
}
#box-3{
    
    font-size: 34px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#box-4{
    margin-top: 3%;
    font-size: 14px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#price{
    color: rgb(52,116,92);
    width: 40%;
    margin-left: 10%;
    margin-right: 5%;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
#box-6{
    margin-left: 0%;
}
button{
    font-size: 15px;
    margin-left: 8px;
    background-color: rgb(52,116,92);
    color: white;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}