*{
    margin: 0px;
    border: border-box;
    
}
.container{
    background-color: #91f5f5;
    display: grid;
    height: 900px;
    width: 80%;
    padding: 2%;
    grid-gap: 20px;
    grid-template-rows:6% 1fr ;
    grid-template-columns: 100px 2fr 1fr 100px;
    grid-template-areas: 
    "ss bb bb ser"
    "cont cont cont cont"
    ;

.content{
    grid-area: cont;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows:repeat(3,1fr);
    grid-template-columns:repeat(3,1fr) ;
    grid-template-areas: 
    "main main about"
    "main main archive"
    "main main else"
}
}
.box{
    /* background: #f0c6c6; */

    
}
#sub{
    grid-area: ss;
}
#title{
    grid-area: bb;
    font-size: 2.3rem;
    justify-self: center;
    color: black;
}

#search{
    grid-area: ser;
    justify-self: end;
}
img {
    height: 50%;
   
}
#main{
    grid-area: main;
}
#about{
    grid-area: about;
    background-color: #b6b5b5;
}
#archive{
    grid-area: archive;
} 
#else{
    grid-area: else;
}
#main, #about, #archive,#else{
    display: flex;
    flex-direction: column;
    
    padding: 5%;
    border: 3px solid slategray;
    
}

#cardhead{
    color: #0368ff;
    margin-bottom: 3%;
}
#titlesub{
    font-size: 200%;
    margin-bottom: 1%;
}
#date{
    opacity: 60%;
    margin-bottom: 1%;
}
#description{
    margin-bottom: 30%;
}
#link{
    color: #0368ff;
    align-items: end;
}

.archive{
    display: flex;
    flex-direction: column;
}